.roomList {
  position: absolute;
  width: 220px;
  background: #2a2a2a;
  height: 100%;
  overflow-y: scroll;
}

.title {
  display: block;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 1px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: black ;
}



