.chat {


  width: calc(100% - 220px);
  background: black;
  transform: translate3d(220px, 0, 0);
  transition: transform .3s;
  overflow-y: scroll;
}

.chat.isOpen {
  transform: translate3d(220px, 0, 0);
}

