* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font: 12px/1 'Montserrat', sans-serif;
  color: #333;
  background: #333;
  overflow-x: hidden;
  height: 100%; }

#root {
  height: 100%; }

.app {
  display: flex;
  height: 100%; }
